<!-- center the container in the screen vertically and horizontally -->

<div
  class="container-fluid d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="col-sm-12 col-md-10 col-xl-6">
    <div class="card shadow shadow-xl">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xl-6" id="imagen">
            <img src="/assets/login.svg" alt="login" class="img-fluid" />
          </div>
          <div class="col">
            <h1 class="card-text display-5">Nos vemos de nuevo!</h1>
            <p class="card-text lead">Completa tus datos para continuar.</p>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row">
              <div
                *ngIf="this.loginForm.errors"
                class="alert alert-danger mt-1 p-2"
              >
                Los datos no son correctos. Inténtalo de nuevo.
              </div>
              <div id="campos">
                <div class="row">
                  <label class="visually-hidden" for="emailInput">email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="emailInput"
                    placeholder="Email"
                    formControlName="email"
                    required
                    (keydown)="resetValidators()"
                  />
                </div>

                <div class="row">
                  <label class="visually-hidden" for="passwordInput"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="passwordInput"
                    placeholder="Password"
                    formControlName="password"
                    autocomplete="current-password"
                    required
                    (keydown)="resetValidators()"
                  />
                </div>
              </div>
              <div class="row" id="contenedorboton">
                <button
                  type="submit"
                  class="btn btn-sm btn-primary"
                  [disabled]="loginForm.invalid"
                >
                  Ingreso
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
