.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    padding: 1rem;
  }
  
  .card-body {
    padding: 1rem;
  }
  
 
  
  #imagen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #imagen img {
    max-width: 100%;
    height: auto;
  }
  
  h1.card-text {
    font-family: "Nixie One", cursive;
    font-size: 2rem; 
  }
  
  p.card-text {
    font-family: "Nixie One", cursive;
    font-size: 1.5rem; 
  }