.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    padding: 1rem;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .row {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  
  .col-lg-6,
  .col-md-6,
  .col-xl-6 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  #imagen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #imagen img {
    max-width: 100%;
    height: auto;
  }
  
  h1.card-text {
    font-family: "Nixie One", cursive;
    font-size: 2rem; /* Adjust font size as needed */
  }
  
  p.card-text {
    font-family: "Nixie One", cursive;
    font-size: 1.5rem; /* Adjust font size as needed */
  }