<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-sm-12 col-md-10 col-xl-6">
      <div class="card shadow shadow-xl">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-6" id="imagen">
              <img src="/assets/error404.png" alt="error404" class="img-fluid" />
            </div>
            <div class="col">
              <h1 class="card-text display-5 text-capitalize fw-bold text-dark" >404 - Recurso no encontrado</h1>
              <p class="card-text lead">Lo sentimos, el recurso que estás buscando no se encontró.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>