<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-sm-12 col-md-10 col-xl-6">
      <div class="card shadow shadow-xl">
        <div class="card-body">
          <div class="row">
            </div>
            <div class="col">
              <h1 class="card-text display-5">404 - Recurso no encontrado</h1>
              <p class="card-text lead">Lo sentimos, el recurso que estás buscando no se encontró.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>